body {
    background-color:  #E4F9F5;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#term {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border-color: white;
}

button {
    border-radius: 10px;
    border-color: turquoise;
    background-color: turquoise;
    padding: 10px;
    color: black;
}

#message {
    font-size: larger;
    font-family: sans-serif;
    margin-Top: 20px;
    color: red;
}

p {
    font-style: italic;
    font-size: medium;
}

header {
    font-size: large;
}

ul {
    list-style-type: none;
    width: 50%;
    margin: auto;
}

#overlay {
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: transparent;
}

.spinner-container {
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}